<div class="container">
￼￼<div class="row">
	<div class="col-md-4">
	<h3>Wer wird begleitet?</h3>
		<p>
			Der hospizliche Begleitdienst ist ein Angebot für Menschen, für die aufgrund einer schweren Erkrankung (wie z.B. Krebs, AIDS, Parkinson oder Demenz in Endstadien) das Sterben und der Tod in greifbare Nähe gerückt sind. Ihnen und ihren Angehörigen möchten wir helfen, in der letzten Phase ihres Lebens möglichst viel Lebensqualität zu erhalten und zu erleben, was für die meisten Menschen mit dem Wunsch nach ihrem häuslichen Umfeld zusammenhängt.
		</p>
		<p>
			Wann diese letzte Phase eines Lebens beginnt, ist oft schwer zu bestimmen, denn „sterbend“ ist jeder Mensch letztlich von Geburt an. Wenn Sie das Gefühl haben, Sie oder Ihr Angehöriger könnte vielleicht hospizliche Hilfe gebrauchen, rufen Sie gern lieber früher als später an, um sich beraten zu lassen. Auch für die Begleitenden ist es angenehmer, wenn es einen Zeitraum gibt, einander kennen zu lernen und eine Beziehung aufzubauen.
			Gern vermitteln wir auch Kontakte zu anderen Besuchs- und Hilfsdiensten, wenn Ihr Anliegen (noch) nicht in dem hospizlichen Rahmen aufgehoben ist.
		</p>
		<h3>Wie entsteht der Kontakt?</h3>
		<p>
			Das Telefon der HORIZONT-Hospizinitiative Seesen e.V. (Nummer s. umseitig) wird im Kreis der Mitarbeitenden wöchentlich weitergereicht, so dass eine tägliche Erreichbarkeit gewährleistet ist. Ihr Anliegen wird vom Telefondienst an die Einsatzleitung weitergegeben, die Koordinatorin nimmt ihrerseits den Kontakt zu Ihnen auf, besucht Sie und bespricht mit Ihnen die Notwendigkeiten und Möglichkeiten der hospizlichen Begleitung. Daraufhin erfolgt der Einsatz der ehrenamtlichen Mitarbeiter/-innen, die Sie dann im besprochenen Umfang begleiten und unterstützen.
			Möglicherweise kennen Sie im Freundes- oder Bekanntenkreis, in der Nachbarschaft, im Verein oder in Ihrer Kirchengemeinde jemanden, der oder die in der Hospizgruppe mitarbeitet. 			Scheuen Sie sich nicht, unsere Mitarbeiter/-innen persönlich anzusprechen!
		</p>
	</div> <!-- .col-md-4 -->￼￼￼
	<div class="col-md-4">
		<h3>Was bieten wir an?</h3>
		<p>
			Wir bieten Ihnen Begleitung im Rahmen eines ambulanten Dienstes an. Das bedeutet, dass ehrenamtliche Mitarbeiter/- innen auf Wunsch zu Schwerkranken und Sterbenden nach Hause kommen, sie besuchen und sie selbst und ihre Angehörigen unterstützen.
			„Zu Hause“ kann dabei auch das Zimmer im Pflegeheim sein, und bei Bedarf kommen unsere Mitarbeiter/-innen auch ins Krankenhaus.
			Sie helfen in enger Zusammenarbeit mit anderen Pflege- und Hilfsdiensten sowie Hausärzten, in der Art und Weise, wie es nötig und möglich ist.
			Das kann, je nach individueller Bedürfnislage, sehr unterschiedlich sein und kann deshalb hier auch nur sehr allgemein beschrieben werden.
		</p>
		<h3>Wer sind die Begleitenden?</h3>
		<p>
			Unsere ehrenamtlichen Mitarbeiter/-innen sind überwiegend Frauen, aber auch Männer aus Seesen 	und der Umgebung, die sich gern Zeit nehmen, um sich für andere einzusetzen und die die Aufgabe der Begleitung Sterbender und ihrer Angehörigen in besonderer Weise für sich entdeckt haben. Oft 	stecken persönliche Erfahrungen aus dem privaten oder beruflichen Umfeld hinter der je eigenen Motivation.
			Alle unsere Hospizmitarbeiter/-innen haben sich in Seminaren auf den Begleitdienst vorbereitet und 	bilden sich stetig fort. Der Kreis der Mitarbeitenden trifft sich jeden Monat zum Austausch von Informationen und Erfahrungen. 	Regelmäßig treffen sich die Mitarbeiten- den 	zur Supervision, um sich selbst in ihrer 	Tätigkeit und um den hospizlichen Begleitdienst als gemein- schaftliche Aufgabe immer weiter zu entwickeln.
			Alle Hospizmitarbeiter/-innen unterliegen der Schweigepflicht.
		</p>
	</div> <!-- .col-md-4 -->	
	<div class="col-md-4">
		<h3>Ziele und Aufgaben</h3>
		<h4>HORIZONT – Hospizinitiative Seesen e.V.</h4>
			<ul>
				<li>
					will helfen, die Zeit des Sterbens und Abschiednehmens als "lebenswerte Zeit" erfahrbar zu machen;
				</li>
				<li>
					will bei der Klärung körperlicher, seelischer, religiöser und sonstiger Fragen und Probleme behilflich sein;
				</li>
				<li>
					setzt sich für ein würdiges Sterben ein, möglichst ohne starke Beschwerden;
				</li>
				<li>
					bejaht das Leben und lehnt deshalb aktive Sterbehilfe ab;
				</li>
				<li>
					führt alle Tätigkeiten ehrenamtlich aus;
				</li>
				<li>
					arbeitet mit allen sozialen, kirchlichen und medizinischen Einrichtungen und Ärzten zusammen als Teil eines Netzwerks, in dem Sterbende und ihre Angehörigen ein hohes Maß an Geborgenheit erfahren;
				</li>
				<li>
					wirkt in der Öffentlichkeit darauf hin, dass Sterben, Tod und Trauer wieder mehr als Teil des Lebens wahrgenommen werden.</br>
					(vgl. §§ 2 und 3 der Satzung)
				</li>
			</ul>	
		</p>
		<h3>Wurzeln und Vernetzungen</h3>
		<p>
			HORIZONT-Hospizinitiative Seesen e.V. versteht sich
			als überkonfessionelle Initiative auf dem Hintergrund eines christlichen Verständnisses. Wir bieten allen Beratung und Begleitung an, die dies wünschen, unabhängig von Alter, Nationalität, Konfession, Weltanschauung und finanziellen Möglichkeiten.
		</p>
		<p>
			HORIZONT-Hospizinitiative Seesen e.V. ist Mitglied in der LAG (Landesarbeitsgemeinschaft) Hospiz in Niedersachsen e.V. und des DHPV (Deutscher Hospiz- und Palliativverband) und darin 			überregional vernetzt.
		</p>
	</div> <!-- .col-md-4 -->
</div> <!-- .row -->
</div> <!-- .container -->