<div class="container">
	<div class="row">
		<div class="col-md-4">
			<header>
				<h2>Trauercafé in Seesen</h2>
			</header>
			<div class="p-height">
				<p class="p-center">...bietet Menschen in Trauer die Möglichkeit, gemeinsam ins Gespräch zu kommen und sich auszutauschen.</p>
			</div>
			<div><%= link_to image_tag("Kerze.jpg", :alt => "logo", :title => "Home", :class => "img-responsive"), root_path %>
			</div>
			<div class="p-height-big">
				<p class="p-center">Das Trauercafé öffnet jeden letzten Donnerstag im Monat in der Zeit von 16:00 - 17:30 Uhr im Evangelischen Kirchenzentrum. Betreut wird es von geschulten ehrenamtlichen Trauerbegleiterinnen der HORIZONT Hospizinitiative Seesen e.V.</p>
			</div>
			<footer class="col-footer">
				<h2>Trauerwege</h2>
			</footer>
		</div> <!-- .col-md-4 -->
		<div class="col-md-4">
			<header>
				<h2>Trauer in Bewegung</h2>
			</header>
			<div class="p-height">
				<p class="p-center">Hier können Trauernde mit anderen Betroffenen gemeinsam ein Stück des Weges gehen. Kleine Spaziergänge mit verschiedenen Sinnen erfahren und mit Erinnerungen die Natur in den Jahreszeiten erfahren.</p>
			</div>
			<div><%= link_to image_tag("spazierweg.jpg", :alt => "logo", :title => "Home", :class => "img-responsive"), root_path %>
			</div>
			<div class="p-height-big">
				<p class="handwriting">In der Trauer<br>nicht<br>alleine sein</p>
			</div>
			<footer class="col-footer">
				<h2>als Lebenswege</h2>
			</footer>
		</div> <!-- .col-md-4 -->
		<div class="col-md-4">
			<header>
				<h2>Beratungsgespräche</h2>
			</header>
			<div class="p-height">
				<p class="p-center">...bieten wir in der Zeit von 10:00 - 11:00 Uhr am letzten Dienstag im Monat im Evangelischen Kirchenzentrum an.</p>
			</div>
			<div><%= link_to image_tag("zen.jpg", :alt => "logo", :title => "Home", :class => "img-responsive"), root_path %>
			</div>
			<div class="p-height-big">
				<p class="p-center">Der Verlust eines geliebten Menschen hat alles verändert. Als Trauernde müssen sie sich wieder ganz neu zurechtfinden. In dieser Zeit gilt es, ihre Trauer als Teil ihres Lebens anzunehmen. Geben sie ihr Raum und Zeit.</p>
			</div>
			<footer class="col-footer">
				<h2>gemeinsam gehen</h2>
			</footer>
		</div> <!-- .col-md-4 -->
	</div> <!-- .row -->
</div> <!-- .container -->