<div class="container">
	<div class="row">
		<div class="col-md-6">
			<article>
				<header>
					<h3>Filmabend</h3>
					<h4>mit anschließender Diskussion</h4>
					<h4>Freitag, 07. November 2014, ab 19:30 Uhr</h4>
					<address>Ev. Kirchenzentrum, Hinter der Kirche, Seesen</address>
				</header>
				<main>
					<figure>
						<div class="videoWrapper"><iframe width="640" height="360" src="https://www.youtube.com/embed/RYmRESZ9zxY?rel=0" frameborder="0" allowfullscreen></iframe></div>
						<figcaption>
							<h3>Halt auf freier Strecke ein Film von Andreas Dresen</h3>
						</figcaption>
					</figure>
					<p>Frank und Simone haben sich einen Traum erfüllt und leben mit ihren beiden Kindern in einem Reihenhäuschen am Stadtrand. Sie sind ein glückliches Paar, bis zu dem Tag, an dem bei Frank ein inoperabler Hirntumor diagnostiziert wird. Die Familie ist plötzlich mit dem Sterben konfrontiert. 
					</p>
					<p>HALT AUF FREIER STRECKE ist eine Geschichte der Extreme, die aus alltäglichen Vorgängen erwachsen, eine Geschichte, die im Tod das Leben feiert.
					</p>

					<blockquote cite="ZDF heute journal">
						<p>Ein mutiger, ein großartiger Film</p>
						<cite>ZDF heute journal</cite>
					</blockquote> 
					<p>Der Filmabend findet im Rahmen der Veranstaltungsreihe „Kino im Kirchenzentrum“ statt. Der Eintritt ist frei, Ihre Spenden sind willkommen</p>
				</main>
			</article>
		</div> <!-- .col-md-6 -->
		<div class="col-md-6">
			<article>
				<header>
					<h3>Hospiz Brunch</h3>
					<h4>mit Lesung und Filmausschnitten</h4>
					<h4>Samstag, 22. November 2014, 11:00 bis ca. 14:00 Uhr</h4> 
					<address>Ev. Kirchenzentrum, Hinter der Kirche, Seesen</address>
				</header>
				<main>
					<figure>
						<div><%= link_to image_tag("schipper.png", :alt => "logo", :title => "Home", :class => "img-responsive"), root_path %>
						</div>
						<figcaption>
							<h4>Dörte Schipper, Fernsehjournalistin, Autorin und Regisseurin aus Hamburg, liest aus ihrem Buch</h4> 
							<h3>„Den Tagen mehr Leben geben: Der Starkoch vom Hospiz und seine Gäste“.</h3>
						</figcaption>
					</figure>
					<p>Dem Buch ist eine Fernsehdokumentation vorausgegangen, für die die Autorin mit dem Erich-Klabunde-Preis ausgezeichnet wurde und aus der Ausschnitte zu sehen sein werden. 
					</p>
					<p>Im Anschluss an den Vortrag ist Gelegenheit, sich bei gutem Essen und Trinken (zur Verfügung gestellt von den Asklepios Kliniken Seesen) mit der Autorin auszutauschen. Ihre Werke sind zum Autorenpreis käuflich zu erwerben. 
					</p>
					<p>Ein Büchertisch zur Thematik steht für Sie bereit. Die Teilnahme am „Hospiz-Brunch“ ist kostenfrei. Ihre Spenden sind willkommen. Wir bitten Sie freundlich um Ihre Anmeldung bis zum 17. 11. 2014 beim 1. Vors., Pfarrer Tim- Florian Meyer, Tel.: 05381/942912.
					</p>
				</main>
			</article>
		</div> <!-- .col-md-6 -->
	</div> <!-- .row -->
</div> <!-- .container -->